name: "release"
on:
  release:
    types:
      - published
      - edited

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: build
        uses: devcontainers/ci@c5e74b5f5bd2898b5aad4a96bd673dd4994bb2a3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer
          push: never
          runCmd: |
            npm ci
            npm run build

      - name: Build and Tag
        # temporary use own fork until
        # uses: JasonEtco/build-and-tag-action@v2
        uses: sarisia/build-and-tag-action@86c2f7fbe7691ec3529884d45038295c0aa3ce35
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          commit_message: |
            Automatic build
            Commit ${{ github.sha }}
            Run ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Update source tag
        shell: bash
        run: |
          TAGNAME=${{ github.ref_name }}-src
          git tag $TAGNAME ${{ github.sha }}
          git push origin $TAGNAME

      - name: report result
        uses: sarisia/actions-status-discord@9d12cc6d7c8d55f9cbe5efa643117f8c7423f4cf
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}

  e2e-all-os:
    needs: release
    strategy:
      max-parallel: 2 # to avoid discord webhook's rate limit
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-22.04
          - ubuntu-20.04
          - windows-latest
          - windows-2022
          - windows-2019
          - macos-latest
          - macos-12
          - macos-11
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - name: checkout built artifact
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.ref_name }}

      - name: checkout sources
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          ref: ${{ github.sha }}
          path: origin

      - uses: ./
        with:
          url: "https://raw.githubusercontent.com/${{ github.repository }}/${{ github.sha }}/tests/fixture/feed.xml"
          file: "origin/tests/fixture/input.md"

      - name: check diff
        run: diff origin/tests/fixture/input.md origin/tests/fixture/wants.md

  conclude:
    runs-on: ubuntu-latest
    needs: e2e-all-os
    if: always()
    permissions:
      actions: read
    steps:
      - uses: sarisia/actions/conclusion@main
        id: ghapi

      - uses: sarisia/actions-status-discord@9d12cc6d7c8d55f9cbe5efa643117f8c7423f4cf
        if: always()
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          status: ${{ steps.ghapi.outputs.conclusion }}
          title: ${{ github.workflow }} - conclusion
